<%- include('./parts/header.ejs') %>
<% if(userslength == 0){ %>
<%- include('./parts/body.ejs') %>
<% } %>
<% if(forgetvalidation) { %>
    <div class="alert alert-danger">
        <%= forgetvalidation.msg %>
    </div>
<% } %>
<% if(successvalidation) { %>
    <div class="alert alert-success">
        <%= successvalidation %>
    </div>
<% } %>
<div class="login">
    <div class="loginimage">
        <img src="/images/logo3.jpg" width="130" height="130" />
</div>
<h3>ارسال طلب بأعادة كلمة المرور الى اصلها</h3>
<form action="/forgetpassword" method="POST">
    <input class="input1" type="text" name="email" placeholder="ادخل بريدك الالكتروني" /><br /><br />
    <input type="submit" value="ارسال" class="btn btn-danger" />
</form><br />
<a href="/" style="color: white;">تسجيل دخول</a>
</div>
<%- include('./parts/footer.ejs') %>